@using Insightify.Framework.Pagination;
@model Insightify.Framework.Pagination.Abstractions.IPage<NewsViewModel>

<link href="~/css/news.css" rel="stylesheet" />

<div class="news-container">
    @if (Model.Count() > 4)
    {
        var news = new Stack<NewsViewModel>(Model.Take(4));
        var mainNew = news.Pop();
        var secondNew = news.Pop();
        var thirdNew = news.Pop();
        var fourthNew = news.Pop();

        <div class="news-title">
            <h1>Trending Now</h1>
        </div>
        <div class="trending-news-container">
            <div class="main-news">
                <div class="image-container">
                    <img src="@mainNew.Image" alt="img">
                </div>
                <div class="text-container">
                    <h2 class="date-txt">@mainNew.PublishedAt.ToLocalTime().ToString("MMM dd, yyyy")</h2>
                    <h1 class="title-txt">@mainNew.Title</h1>
                    <h3 class="source-txt">@mainNew.Source</h3>
                </div>
            </div>
            <div class="secondary-news-container">
                <div class="first-part">
                    <div class="image-container">
                        <img src="@secondNew.Image" alt="img">
                    </div>
                    <div class="text-container">
                        <h2 class="date-txt">@secondNew.PublishedAt.ToLocalTime().ToString("MMM dd, yyyy")</h2>
                        <h1 class="title-txt">@secondNew.Title</h1>
                        <h3 class="source-txt">@secondNew.Source</h3>
                    </div>
                </div>
                <div class="second-part">
                    <div class="first-divider">
                        <div class="image-container">
                            <img src="@thirdNew.Image" alt="img">
                        </div>
                        <div class="text-container">
                            <h2 class="date-txt">@thirdNew.PublishedAt.ToLocalTime().ToString("MMM dd, yyyy")</h2>
                            <h1 class="title-txt">@thirdNew.Title</h1>
                            <h3 class="source-txt">@thirdNew.Source</h3>
                        </div>
                    </div>
                    <div class="second-divider">
                        <div class="image-container">
                            <img src="@fourthNew.Image" alt="img">
                        </div>
                        <div class="text-container">
                            <h2 class="date-txt">@fourthNew.PublishedAt.ToLocalTime().ToString("MMM dd, yyyy")</h2>
                            <h1 class="title-txt">@fourthNew.Title</h1>
                            <h3 class="source-txt">@fourthNew.Source</h3>
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="news-items-container">
            @{
                foreach (var item in Model.Skip(4))
                {
                    <div class="news-item" onclick="window.open('@item.Url', '_blank');">
                        @if (item.Image != null)
                        {
                            <div class="news-image-container">
                                <img src="@item.Image" alt="News Image" class="news-image">
                            </div>
                        }
                        <div class="news-item-content">
                            <div class="news-meta">
                                <span class="news-author">@item.Author</span> |
                                <span class="news-date">@item.PublishedAt.ToString("MMM dd, yyyy")</span>
                            </div>
                            <h2 class="news-title">@item.Title</h2>
                            <p class="news-description">@item.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div class="news-title">
            <h1>No news avalable!</h1>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var newsPage = @Model.CurrentPage;
    var newsPageSize = @Model.PageSize;
    var isNewsLoading = false;
    var newsLoadbar = `
                            <div class="loading-bar">
                                <div class="loading-bar-container">
                                    <img class="loading-bar-container-img-gray" src="/images/logo/logo_violet_s.png" alt="loading">
                                </div>
                            </div>
                        `;

    $(window).scroll(function () {
        if (!isNewsLoading && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            isNewsLoading = true;
            $('.news-section-posts').append(newsLoadbar);
            $.ajax({
                url: '@Url.Action("News", "News")',
                data: { page: newsPage + 1, pageSize: newsPageSize, json: true },
                type: 'GET',
                success: function (result) {
                    console.log(result);
                    $('.loading-bar').remove();
                    newsPage++;
                    result.forEach(function (item) {
                        var newsHtml = `
                                                <div class="news-container-single">
                                                    <div class="news-main">
                                                        <div class="news-header-hour">
                                                            <h1 class="news-headerhour-title">${item.author}</h1>
                                                            <h1><strong>‧</strong></h1>
                                                                <h1 class="news-headerhour-text">${item.publishedAt}</h1>
                                                        </div>
                                                        <div class="news-content">
                                                            <h1 class="news-content-title">${item.description}</h1>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <img class="news-image" src="${item.image}" />
                                                   </div>
                                                </div>
                                                <div class="news-under-post-line"></div>`;

                        $('.news-section-posts').append(newsHtml);
                    });
                },
                complete: function () {
                    isNewsLoading = false;
                    $('.loading-bar').remove();
                }
            });
        }
    });
</script>
