@using Insightify.IdentityAPI.ViewModels;
@model LoginInputViewModel
<link href="~/css/login.css" rel="stylesheet" />
<div class="page">
    <div class="leftside">
        <div class="image-container">
            <img class="main-img" src="~/images/login.png" alt="Cool image here" />
        </div>
    </div>
    <div class="rightside">
        <h1 class="logo">INSIGHTIFY</h1>
        <div class="login-container">
            <h2 class="form-title">Sign In</h2>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="field-container">
                        <label asp-for="@Model.Username" class="form-label"></label>
                        <input asp-for="@Model.Username" class="form-field" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="field-container">
                        <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" type="password" class="form-field" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="field-container">
                        <button id="login-submit" value="login" name="button" type="submit" class="btn">Sign In</button>
                    </div>
                    <a asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="Register" asp-controller="Account">Sign Up Instead</a>
                </form>
        </div>
    </div>
</div>