@using Insightify.IdentityAPI.ViewModels;
@model RegisterInputViewModel

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            
            <div class="text-center mb-3">
                <label asp-for="@Model.Email">Email</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Email" />
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Username">Username</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Username" />
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Password">Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-info m-2">Register</button>
            </div>
        </form>
    </div>
</div>
