@using Insightify.Framework.Pagination;
@using Insightify.Web.Gateway.Models.FinancialData;
@model IEnumerable<CryptoCurrencyModel>

@if (Model != null && Model.Any())
{
    <div class="table-div">
        <table class="table-container">
            <thead class="thead-item-container">
                <tr class="tr-item-head">
                    <th class="thead-item">Coin</th>
                    <th class="thead-item">Rank</th>
                    <th class="thead-item">Price</th>
                    <th class="thead-item">Change % 24h</th>
                    <th class="thead-item">Market cap</th>
                    <th class="thead-item">Volume 24h</th>
                    <th class="thead-item">Circulating supply</th>
                    <th class="thead-item">Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-item">
                        <td class="td-item">
                            <a asp-action="Currency" asp-controller="FinancialData" asp-route-currency="@item.Id">
                                <img class="table-item-img" src="@item.Image.Small" alt="@item.Name image" />
                                <h2 class="currency-id">@item.Symbol</h2>
                                <h2 class="currency-name">@item.Name</h2>
                            </a>
                        </td>
                        <td class="td-item">@item.MarketCapRank</td>
                        <td class="td-item">@item.MarketData.CurrentPrice.Usd</td>
                        <td class="td-item">@item.MarketData.PriceChange24h</td>
                        <td class="td-item">@item.MarketData.MarketCap.Usd</td>
                        <td class="td-item">@item.MarketData.TotalVolume.Usd</td>
                        <td class="td-item">@item.MarketData.CirculatingSupply</td>
                        <td class="td-item">@item.Categories.FirstOrDefault()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No data available.</p>
}
